<div *ngIf="(questionType$ | async) as questionType">
	<div class="question">{{(question$ | async)?.question}}</div>
	<div class="answers">
		<div *ngIf="questionType === 'input'; else choice">
			<h3>{{this.helperText}}</h3>
			<input type="text" [(ngModel)]="code" #ctrl="ngModel" (input)="onInputChange(code)" required
				[ngClass]="{'correct-answer': isCorrectAnswer(code), 'wrong-answer': !isCorrectAnswer(code)}">
			<p>{{correctAnswer}}</p>
		</div>
		<ng-template #choice>
			<app-quiz-answer *ngFor="let answer of answers$ | async; let i = index" [answerText]="answer" [index]="i"
				class="answer"
				[ngClass]="{answer: true, 'correct-answer': isCorrectAnswer(answer), 'wrong-answer': isWrongAnswer(answer), 'disabled-answer': isDisabledAnswer()}"
				(selectAnswer)="selectAnswer(answer)">
			</app-quiz-answer>
		</ng-template>
	</div>
</div>