<div class="quiz">
	<div *ngIf="(showResults$ | async)">
		<div class="results">
			<div class="congratulations">
				Gratulálok
			</div>
			<div class="results-info">
				<div>Sikeresen végigvitted a quiz első felét.</div>
				<div>{{correctAnswerCount$ | async}} kérdésből {{ questionsLength$ | async}} kérdésre adtál helyes
					választ.</div>
			</div>
			<button class="next-button" (click)="restart()">Restart</button>
		</div>
	</div>

	<div *ngIf="!(showResults$ | async)">
		<div class="score">
			Question {{currentQuestionIndex$ | async}} / {{questionsLength$ | async}}
		</div>
		<app-quiz-question [events]="eventsSubject.asObservable()"></app-quiz-question>
		<button [disabled]="isDisabled$ | async" class="next-button" (click)="nextQuestion()">Next</button>
	</div>
</div>