<div class="quiz">
	<h5>IT SUPPORT: +36 (70) 3318 405</h5>
	<div *ngIf="(showResults$ | async)">
		<div class="results">
			<div class="congratulations">
				Gratulálok
			</div>
			<div class="results-info">
				<div>Sikeresen elkészítetted a szülinapi tortádat.</div>
				<div>Most pedig fogd a pezsgőt a mélyhűtőből és siess hozzánk, már várunk!</div>
				<img src="{{imgPath}}" alt="Meeting Point">
			</div>
			<button class="next-button" (click)="restart()">Restart</button>
		</div>
	</div>

	<div *ngIf="!(showResults$ | async)">
		<div class="score">
			Question {{currentQuestionIndex$ | async}} / {{questionsLength$ | async}}
		</div>
		<app-quiz-question [events]="eventsSubject.asObservable()"></app-quiz-question>
		<button [disabled]="isDisabled$ | async" class="next-button" (click)="nextQuestion()">Next</button>
	</div>
</div>